@import './variables.css';

.container {
	border: 1px dashed var(--headerColor);
	border-radius: 3px;
	margin: 20px 0;
	width: 55%;
}

.fieldSet {
	margin-bottom: 5px;
	padding: 5px;

	& input {
		border-radius: 3px;
		margin-left: 5px;
	}

	& input[type="number"]::-webkit-outer-spin-button,
	& input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	& input[type="number"] {
		-moz-appearance: textfield;
	}
}

.balance {
	margin-left: 10px;
}

.positiveBalance {
	composes: balance;
	color: var(--positiveBalance);
}

.negativeBalance {
	composes: balance;
	color: var(--negativeBalance);
}